<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/home/style.css">
	</head>

	<body>
		<h1>Admin page</h1>
		<a href="/admin/backdoor/">Backdoor</a>
		<a href="/admin/logs">logs</a>
	</body>
</html>
