<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
</head>

<link rel="stylesheet" href="/css/home/nav.css">

<nav>
  <div class="home-text">
    <h1><a href="/">SEN</a></h1>
  </div>

  <ul>
    <li><a class="glow-button" href="/">Home</a></li>
    <li><a class="glow-button" href="/blog">Blog</a></li>
    <li><a class="glow-button" href="/other">Other</a></li>
  </ul>
</nav>
