<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/home/about.css">
  <title>About</title>
</head>
<body>
  <%-include("partials/navbar.ejs") %>
  <main>
    <div class="about-text">
      <div>
        <h2>About me</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quod ipsum optio voluptatem
            voluptatum quia sunt iusto odio, itaque vitae quasi similique earum reprehenderit error delectus ratione aut
            molestias aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, expedita alias! Qui maiores
            tenetur vel, soluta sequi doloribus corporis hic ad mollitia ut quod nostrum alias quidem repellat voluptatibus
            architecto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
            dolorum laudantium quasi, nemo iste minima unde dolor provident natus accusantium,
            similique quam quod consequatur quis distinctio rem aliquam, nisi consequuntur!
          </p>
      </div>
      <div>
        <h2>My projects</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quod ipsum optio voluptatem
            voluptatum quia sunt iusto odio, itaque vitae quasi similique earum reprehenderit error delectus ratione aut
            molestias aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, expedita alias! Qui maiores
            tenetur vel, soluta sequi doloribus corporis hic ad mollitia ut quod nostrum alias quidem repellat voluptatibus
            architecto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
            dolorum laudantium quasi, nemo iste minima unde dolor provident natus accusantium,
            similique quam quod consequatur quis distinctio rem aliquam, nisi consequuntur!
          </p>
      </div>
      <div>
        <h2>My motivation</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quod ipsum optio voluptatem
            voluptatum quia sunt iusto odio, itaque vitae quasi similique earum reprehenderit error delectus ratione aut
            molestias aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, expedita alias! Qui maiores
            tenetur vel, soluta sequi doloribus corporis hic ad mollitia ut quod nostrum alias quidem repellat voluptatibus
            architecto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
            dolorum laudantium quasi, nemo iste minima unde dolor provident natus accusantium,
            similique quam quod consequatur quis distinctio rem aliquam, nisi consequuntur!
          </p>
      </div>
      <div>
        <h2>My games</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur quod ipsum optio voluptatem
            voluptatum quia sunt iusto odio, itaque vitae quasi similique earum reprehenderit error delectus ratione aut
            molestias aliquid? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, expedita alias! Qui maiores
            tenetur vel, soluta sequi doloribus corporis hic ad mollitia ut quod nostrum alias quidem repellat voluptatibus
            architecto? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
            dolorum laudantium quasi, nemo iste minima unde dolor provident natus accusantium,
            similique quam quod consequatur quis distinctio rem aliquam, nisi consequuntur!
          </p>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-text">
      <p>SenHarald</p>
    </div>
  </footer>
</body>
</html>
