<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/home/style.css">
  <title>SenHarald</title>
</head>
<body>
  <header>
    <div class="home-text">
      <h1>Welcome</h1>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/other">Other</a></li>
    </ul>
  </nav>
</html>
