<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/home/finished.css">
  <title>Blog</title>
</head>
<body>
  <%-include("partials/navbar.ejs") %>

  <header>
    <div class="header-text">
      <h1>My finished works</h1>
    </div>
  </header>

  <main>
	  <ul>
	  	<li><a class="glow-button" href="/ai">AI</a></li>
	  	<li><a class="glow-button" href="/snake">Snake</a></li>
	  	<li><a class="glow-button" href="/gameOfLife">Conway's game of life</a></li>
	  	<li><a class="glow-button" href="/blobshooter">Multiplayer blobshooter</a></li>
	  	<li><a class="glow-button" href="/chess">Multiplayer chess</a></li>
	  </ul>
  </main>
</body>
