<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/home/style.css">
	</head>
	<body>
		<h2>Connections</h2>
		<ul>
			<% for (var i = 0; i < connectionlist.length; i++) { %>

				<li><%=connectionlist[i];%></li>
			<% }; %>

		</ul>
	</body>
</html>
